.news-wrapper h1{
    color: #242A68;
}
.news-card{
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 20px;
}
.card-content{
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 5%;
}

/* ------------------------------------Media queries----------------------- */
@media only screen and (max-width: 992px) {
    .news-card {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .card-content {
        grid-template-columns: 100%;
    }
}